
*{
    padding: 0;
    margin: 0;
   
}

body{
     font-size: 20px;
     background-color: black;
     color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100%;
    color: white;
    height: fit-content;
}
ol{
    display: flex;
}
.nav_link{
    display: inline-flex;
    
    width: fit-content;
}
li{
    padding: 2px;
    list-style: none;
    width: fit-content;
    margin-left: 50px;
    transform: scale(1);
    transition: 0.5s;
}
li:hover{
    transform: scale(1.1003);
    transition: 0.5s;
}
header{
    box-shadow: 0 0 5px 5px green;
}
a{
    text-decoration: none;
}
a:hover{
    border-radius: 20px;
    color: gold;
}
footer{
    padding: 20px;
    background-color: black;
    color:white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 5px green;
}
a{
    color: white;
}