@media (max-width:900px) {
    .content_1{
    height: 83vh;
}
}
@media (max-width:500px) {
.content_1{
    height: 80vh;
}
td{
    text-align: center;
}
.rotation{
    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
    left: 240px;
    top: -50px;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    background-color: transparent;
    border-top: 2px solid white;
}
table{
    padding: 0;
    width: 100px;
}
td{
    padding: 10px;
}
}