
@media (max-width:900px) {
    .content_1{
    height: 85vh;
}
}
@media (max-width:500px) {
.content_1{
    height: 79vh;
}
td{
    text-align: center;
}
.rotation{
    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
    left: 225px;
    top: -40px;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    background-color: transparent;
    border-top: 2px solid white;
}
table{
    padding: 0;
    width: 90%;
    box-sizing: border-box;
}
td{
    padding: 10px;
    box-sizing: border-box;
}
}
@media (max-width:395px) {
    .content_1{
    height: 69vh;
}
td{
    padding: 1px;
    box-sizing: border-box;
}
}
@media (max-width:410px) {
.content_1{
    height: 78.3vh;
}
td{
    padding: 3px;
    box-sizing: border-box;
}
}
@media (max-width:400px) {
.content_1{
    height: 71.5vh;
}
td{
    padding: 3px;
    box-sizing: border-box;
}
}