#a{
    text-decoration: none;
    color:  greenyellow;
}
#a:hover{
    color: goldenrod;
}
fieldset{
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px 2px ;
    background-color: #00000082;
    box-shadow: 0 0 3px 3px #33d17a;
    gap: 10px;
    animation: shadow 1s linear infinite;
}
@keyframes shadow {
    0% {
        box-shadow: 0 0 3px 3px #33d17a;
    }
    50% {
        box-shadow: 0 0 3px 3px gold;
    }
    100% {
        box-shadow: 0 0 3px 3px goldenrod;
    }
}
td{
    padding: 20px;
}
legend{
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    background-color: none;
    color: white;
}
.content_1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
    background-color: #000000a8;
    border-radius: 50%;
    padding: 10px;
    animation: shadow 2s infinite linear;
}
input,button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    transform: scale(1);
    transition: .5s;
}
[type="submit"]:hover,#back_1:hover{
    transform: scale(1.1);
    transition: .5s;
    box-shadow: 0 0 2px 2px ;
}
[type="submit"],#back_1{
    background-color: #33d17a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 175px;
}
table{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_color{
    animation: color 2s linear infinite;
}
@keyframes color {
    0% {
        background-image: linear-gradient(to left, #33d17a, #e5a50a);
    }
    50% {
        background-image: linear-gradient(to left, #e5a50a, #33d17a);
    }
    100% {
        background-image: linear-gradient(to left, #33d17a, #e5a50a);
    }
    0% {
        background-image: linear-gradient(to left, #33d17a, #e5a50a);
    }
    50% {
        background-image: linear-gradient(to left, #e5a50a, #33d17a);
    }
    100% {
        background-image: linear-gradient(to left, #33d17a, #e5a50a);
    }

}
.rotate_2{

    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
    left: 220px;
    top: -50px;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    background-color: transparent;
    border-top: 2px solid white;
}
.rotation{
    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
    left: 290px;
    top: -50px;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    background-color: transparent;
    border-top: 2px solid white;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.none{
    display: none;
}
.flex{
    display: flex;
}