.first_content{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.cont{
    border: none;
    border-left: 5px blue solid;
    border-radius: 30px;
    padding: 20px;
}
.content{
    display: flex;
    padding: 20px;
    align-items: center;
    
}
.contenu_1{
    border: none;
    border-left: 5px blue solid;
    border-radius: 30px;
    padding: 20px;

}
.second_content{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: space-around;
}
body{
    background-color: black;
}
input{
   
    height: 30px; 
}
input,textarea{
    width: 80%;
    color: #ffffff;
    background-color: grey;
}
input[type="submit"]{
    background-color: goldenrod;
    width: 30%;
    border-radius: 20px;
    transform: scale(1);
    transition: 0.5s;
}
input[type="submit"]:hover{
    width: 30%;
    transform: scale(1.09);
    transition: 0.5S;
}
fieldset{
    border: none;
    border-left: 5px blue solid;
    border-radius: 30px;
    width: 500px;
    padding: 20px;
}

input:focus,textarea:focus{
    border-color: gold;
    transform: scale(1.05);
    transition: 0.5s
}
#contact{
    background-color: gray;
    border-radius: 20px 20px;
    box-shadow: none;
}
#contact:hover{
    border-radius: 10px 5px;
}