*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    --header_footer_background-color: #000000b4;
}
body{
    background-color: #000000c9;
    color: white;
    font-family: helvetica;
    overflow: none;
}
header,footer{
    border: none;
    background-color: var(--header_footer_background-color);
}
.header_container{
    padding: 10px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.nav_links{
    width: 50%;
}
ol{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    padding: 5px;
    border-radius: 10px 5px;
    transform: scale(1);
    transition: 0.5s;
    width: fit-content;
    height: fit-content;
}
li:hover{
    background-color: rgba(234, 167, 33, 0.63);
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 7px 2px gold;
}
.log{
    width: 50px;
}
#logo_style{
    padding: 7px;
    font-size: 3vw;
    color: goldenrod;
    font-weight: bolder;
}

.menu_burger{
    position: relative;
    left: -20px;
    height: 40px;
    display: none;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 5px;
    background-color: #ffffffa7;
}
    .second_animation{
        transform: rotate(0deg);
        transition: 0.5s;
    }
    .tird_animation{
        transform: rotate(0deg);
        transition: 0.5s;
    }
    .theme{
        display: none;
    }
    .couleur a{
        color: white;
    }
    #light_mode:hover{
        color: rgba(255, 255, 0, 0.664);
    }
footer{
    padding: 10px;
    color: white;
    width: 100%;
}
.svg{
    background-color: #000000;
    border-radius: 50%;
        box-shadow: 0 0 3px 3px #33d17a;
    padding: 10px;
}
@media (max-width:1000px) {
    .log{
        width:30px;
    }
}
.body{
    width: 100%;
}