*{
    margin: 0;
    padding: 0;
}
.clair{background-color: #e8e7e76e;}
header{
    background-color: rgba(211, 208, 208, 0.302);
}

.sombre{
    background-color: #131111c5;
}
.container{
    padding: 10px;
    height: fit-content;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
}
.nav_links{
    width: 50%;
}
ol{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.774);
}
li{
    list-style: none;
    padding: 5px;
    border-radius: 10px 5px;
    transform: scale(1);
    transition: 0.5s;
}
li:hover{
    background-color: rgba(128, 128, 128, 0.63);
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 7px 2px gold;
}
a:hover{
    color: black;
}
#logo_style{
    padding: 7px;
    font-size: 3vw;
    color: goldenrod;
    font-weight: bolder;
}
.clair #logo_style{
   color: goldenrod;
}
.sombre #logo_style{
   color: gold;
}
.light_mode{
    width: 30px;
    
}

.menu_burger{
    position: relative;
    left: -20px;
    height: 40px;
    display: none;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 5px;
    background-color: black;
}
    .second_animation{
        transform: rotate(0deg);
        transition: 0.5s;
    }
    .tird_animation{
        transform: rotate(0deg);
        transition: 0.5s;
    }
    .theme{
        display: none;
    }
    .couleur a{
        color: white;
    }
    #light_mode:hover{
        color: rgba(255, 255, 0, 0.664);
    }
footer{
    box-shadow: 0 0 3px 3px green;
}
a{
    color: black;
}