body{
    font-family: serif;
    height: 1000%;
}
marquee{
    background-color: rgba(22, 198, 22, 0.167);
    padding: 20px;
    font-weight: bolder;
    width: 100%;
}
img{
    width: 300px;
    height: 300px;
    animation: op 2s infinite linear ;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 54.5vh;
    padding: 5px;
    box-sizing: border-box;
}
.content{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.content_2{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box;
}
p{
    padding: 20px;
}

@keyframes op  {
    0%{position: relative;
    top: 0;
}
50%{
    position: relative;
    top: -30px;
}
100%{
    position: relative;
    top: 0;
}
}
@keyframes down {
    0%{position: relative;
    top: 0;
}
50%{
    position: relative;
    top: 30px;
}
100%{
    position: relative;
    top: 0;
}
}
.button{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
b{
    font-family: helvetica;
    font-size: larger;
    color: rgb(41, 185, 211);
}
button{
    width: 150px;
    font-weight: bold;
    padding: 3px;
    background-color: #33d17a8d;
    border: none;
    border-radius: 10px 0px 10px;
    transform: scale(1);
    transition: .5s;
    font-size: larger;
}
button:hover{
    transform: scale(1.1);
    box-shadow: inset 0 0 7px 2px gold;
    transition: .5s;
}
@media (max-width:1000px) {
    #but_1{
        position: relative;
        right: 50px;
    } 
}
b{
    font-weight: bolder;
    font-size: 25px;
}