@media (max-width:600px) {
.container{
    height: 100vh;
    display: inline-grid;
    
    width: 100%;
    grid-template-columns:repeat( auto-fit,minmax(250px,1fr));
    justify-self: center;
    align-self: center;
}
img{
    width: 100%;
    animation: op 2s infinite linear ;
}

.content{
    width: 100%;
}
#content_1{
    grid-row: 1;
}
#content_2{
    grid-row: 2;
}
.content_2{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
} 