.container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inscription{
    background-color: gray;
    border-radius: 10px ;
    box-shadow: none;
}
#inscription:hover{
    border-radius: 10px 5px;
}