.div{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
}
h1{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
main{
    h1{
        background-color: #04c5f5bb;
        height: 70px;
    }
    li{
        background-color: transparent;
    }
    a{
        font-weight: bolder;
        font-size: larger;
    }
    a::before{
        content: none;
    }
    hr{
        font-weight: bolder;
        font-size: larger;
    }

.classes,.black .classes{
    position: sticky;
    top: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    align-items: center;
    width: 20vw;
    text-align: center;
    font-size: large;
    overflow: scroll;
    font-weight: bolder;
    position: relative;
    gap: 40px;
    a:hover{
        color: gold;
    }

}
.classe ,.black .classe{
    a,.black a{
    background-color: #102c80d8;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    a:hover{
        background-color: #102c80d8;
        width: 90%;
        transform: scale(1.005);
        transition: .3;
        text-align: center;
    }
    width: 90%;
    background-color: transparent;
}
.classe:hover{
.black a,a{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: fit-content;
}

}
.matiere{
    background-color: transparent;
    width: 80%;
    display: flex;
    position: absolute;
    top: 70px;
    right: 0;
    overflow-x: scroll;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    overflow-wrap: break-word;
}
.matier{
    background-color: transparent;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    a{
    background-color: #e4920f83;
        width: fit-content;
        margin-left: 20Px;
        border-radius: 40px;
        width: 300px;
        text-align: center;
    }
    a:hover{
        box-shadow: 0 0 2px 2px;
    }
    a::before{
        content: none;
    }
}
.input_note,.black .input_note{
    z-index: -2;
    position: absolute;
    top: 70px;
    height: 79.5%;
    right: 0;
    overflow: scroll;
    width: 80%;
    text-align: center;
    padding: 10px;
}
strong,.black strong{
    color: goldenrod;
}
.black .input_note{
    color: white;
}
#p{
    font-size: larger;
    font-weight: bolder;
    color: red;
}
.black div{
    z-index: 1;
}
#insertion_de_note,.black #insertion_de_note{
    position: absolute;
    top: 170px;
    right: 0;
    width: 80%;
    height: 600px;
    overflow: scroll;
}
th{
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: royalblue;
    border: none;
    color: white;
}
form,table{
    width: 100%;
    overflow: scroll;
}
table{
    overflow: scroll;
    padding: 10px;
    border: none;
}
tr{
    overflow-x: scroll;
    width: 70vw;
}
.black td,td{
    background-color: #293e7fcf;
    color: white;
}
.nom{
    width: 1560px;
}
.n{
    width: 200px;
}
.note{
    width: 300px;
}
.cc{
    width: 150px;
}
.eval{
    width: 150px;
}
[type="submit" ]{
    padding: 10px;
    box-sizing: border-box;
    font-weight: bolder;
    background-image: linear-gradient(to left, #059669,#1D4ED8);
    font-size: larger;
    border-radius: 10px;
    animation: color 5s infinite ;
    margin-top: 20px;
    display: flex;
    gap: 5px;
    color: white;
    align-items: center;
}
.submit_div{
    display: flex;
    justify-content: center;
    color: white;
}
input,.black input{
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
}
}
.black th{
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: royalblue;
    border: none;
    color: white;
}
.black #text{
    color: white;
}